.container-modal__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    gap: 2rem;
    margin: 1rem;
    background: #fff;
    border-radius: .3125rem;
    box-shadow: rgba(100,100,111, 0.2) 0px 7px 29px 0px;
    padding: 1.25rem;
  
    .poster {
      max-width: 20rem;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }

    .details {
        display: flex;
        flex-direction: column;
        // max-width: 25rem;
        gap: .5rem;
        .title {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            gap: .7rem;
        }
        .release {
            display: flex;
            gap: .5rem;
        }
        .genres {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            gap: .5rem;
            
        }
    }

    .filmography {
        width: 100%;
        @media (min-width: 744px) and (max-width: 1096px) {
            grid-column-start: 1;
            grid-column-end: -1;
        }
        &__title {
            margin-bottom: .7rem;
        }
        &__list {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            ul {
                background-color: #fff;
                height: 100vh;
                // max-height: 23rem;
                overflow: hidden;
                overflow-y: scroll;
                li:nth-child(even) {
                background-color: #f0f0f0;
                }
            }
        }
}
}